.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 99;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 110px;
  border: none;

  &.is-sticky {
    background: #222;
    padding: 0 0 0 0;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    border: none;
    height: 100px;
  }

  &__logo {
    transition: all 0.3s;

    width: 130px;

    &.scrolled {
      width: 93px;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__nav {
    list-style: none;
  }

  &__item {
    list-style: none;
    position: relative;
    cursor: pointer;

    ng-icon {
      color: #fff;
    }

    & > .submenu {
      display: block;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
      width: 210px;
      padding: 15px 25px;
      border-radius: 20px;
      border: 0;
      background-color: #222;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      position: absolute;
    }

    &:hover > .submenu {
      opacity: 1;
      visibility: visible;
      transform: translateY(10px);
    }
  }

  &__link {
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin: 1px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    padding-right: 9px;
    padding-left: 9px;
    transition: all 0.3s;
    &:hover {
      color: var(--color-yellow) !important;
    }
  }

  & > .container,
  & > .container-fluid,
  & > .container-lg,
  & > .container-md,
  & > .container-sm,
  & > .container-xl,
  & > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  &__cta {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 20px;
    &--icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      background-color: transparent;
      border-radius: 50%;
      font-size: 21px;
      color: #fff;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      border: 1px solid #f5b754;
      line-height: 0;
      cursor: pointer;
      &:hover {
        background-color: var(--color-yellow);
        color: var(--bg-color);
      }
    }

    span {
      font-size: 12px;
      line-height: 12px;
      color: #fff;
      margin-bottom: 4px;
      display: inline-block;
    }

    a,
    a:link,
    a:visited {
      font-size: 17px;
      font-weight: 400;
      line-height: 25px;
      color: var(--color-yellow);

      transition: all 0.5s ease;
    }

    a:hover {
      color: var(--color-yellow);
    }
  }
}

.submenu {
  &__item {
    list-style: none;
  }

  &__link {
    padding: 7px 0;
    color: #fff;
    position: relative;
    background-color: transparent;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    &:hover {
      color: var(--color-yellow) !important;
    }
  }
}
