<section class="brands-slider">
  <div class="container">
    <swiper-container init="false" #swiperEl>
      <swiper-slide>
        <img src="images/brands/1.webp" alt="" />
      </swiper-slide>
      <swiper-slide>
        <img src="images/brands/2.webp" alt="" />
      </swiper-slide>
      <swiper-slide>
        <img src="images/brands/3.webp" alt="" />
      </swiper-slide>
      <swiper-slide>
        <img src="images/brands/4.webp" alt="" />
      </swiper-slide>
      <swiper-slide>
        <img src="images/brands/5.webp" alt="" />
      </swiper-slide>
      <swiper-slide>
        <img src="images/brands/6.webp" alt="" />
      </swiper-slide>
      <swiper-slide>
        <img src="images/brands/7.webp" alt="" />
      </swiper-slide>
      <swiper-slide>
        <img src="images/brands/8.webp" alt="" />
      </swiper-slide>
    </swiper-container>
  </div>
</section>
