<section class="section-steps section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center flex-column mb-30">
          <span class="subtitle mb-xl-3 mb-2 section-subtitle text-center"
            >Steps</span
          >
          <h3 class="section-heading text-center">
            Car Rental
            <span class="d-lg-inline-block">Process</span>
          </h3>
        </div>
      </div>
      <div class="col-lg-4">
        <app-card
          [counter]="'01'"
          [title]="'Choose a car'"
          [desc]="
            'View our range of cars, find your perfect car for the coming days.'
          "
        >
        </app-card>
      </div>
      <div class="col-lg-4">
        <app-card
          [counter]="'02'"
          [title]="'Come In Contact'"
          [desc]="
            'Our advisor team is ready to help you with the booking process or any questions.'
          "
        ></app-card>
      </div>
      <div class="col-lg-4">
        <app-card
          [counter]="'03'"
          [title]="'Enjoy Driving'"
          [desc]="
            'Receive the key and enjoy your car. We treat all our cars with respect.'
          "
        >
        </app-card>
      </div>
      <div class="col-12">
        <div
          class="d-flex align-items-lg-center gap-2 justify-content-center mt-4 align-items-start px-3 px-lg-0"
        >
          <i>
            <ng-icon name="bootstrapInfoLg"></ng-icon>
          </i>
          <p class="mb-0 text-center text-lg-start">
            If you've never rented a car before, we'll guide you through the
            process.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
