<section class="section-cars section-padding overflow-x-hidden pb-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center flex-column mb-30">
          <span class="subtitle mb-xl-3 mb-2 section-subtitle text-center"
            >Select your car</span
          >
          <h3 class="section-heading text-center">
            Luxury
            <span class="d-lg-inline-block">Car Fleet</span>
          </h3>
        </div>
      </div>
      <div class="col-lg-12">
        <swiper-container init="false" #swiperEl>
          <swiper-slide *ngFor="let car of cars; let i = index"
            ><app-car-card
              [carName]="car.carName"
              [carAge]="car.carAge"
              [carSeats]="car.carSeats"
              [carTransmittion]="car.carTransmittion"
              [carStorage]="car.carStorage"
              [imagePath]="car.imagePath"
              [price]="'600'"
              [showBox]="i === activeSlide"
            ></app-car-card
          ></swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>
