<div class="car-card" [ngClass]="{ show: showBox }">
  <div class="car-card__image-wrapper">
    <img [src]="imagePath" [alt]="imageAlt" class="w-100" />
  </div>
  <div class="car-card__box d-flex align-items-center justify-content-between">
    <div class="car-card__info">
      <p class="car-card__name">{{ carName }}</p>
      <ul>
        <li>
          <ng-icon name="gameCarDoor"></ng-icon>
          <span>{{ carSeats }}</span>
        </li>
        <li>
          <ng-icon name="bootstrapCarFrontFill"></ng-icon>
          <span>{{ carTransmittion }}</span>
        </li>
        <li>
          <ng-icon name="bootstrapLuggageFill"></ng-icon>
          <span>{{ carStorage }}</span>
        </li>
        <li>
          <ng-icon name="bootstrapPersonFill"></ng-icon>
          <span>{{ carAge }}</span>
        </li>
      </ul>
    </div>
    <div class="car-card__cta d-flex align-items-center gap-3">
      <app-primary-btn
        [buttonText]="'Details'"
        [buttonLink]="'#'"
      ></app-primary-btn>
      <div class="d-flex flex-column gap-0">
        <span class="car-card__price">${{ price }}</span>
        <span class="ms-auto">/day</span>
      </div>
    </div>
  </div>
</div>
