.car-card {
  position: relative;

  img {
    transition: all 0.5s;
  }

  &:hover img {
    transform: scale(1.05);
  }

  &__image-wrapper {
    border-radius: 20px;
    overflow: hidden;
  }
  &__box {
    background-color: #222;
    padding: 30px 30px;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 95%;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;

    @media only screen and (max-width: 62rem) {
      transform: translate(-50%, 0);
      padding: 30px 20px;
      width: 100%;
    }
    @media only screen and (max-width: 36rem) {
      transform: translate(-50%, 50%);
      padding: 16px 20px;
      width: 100%;
    }
  }

  &.show &__box {
    visibility: visible;
    opacity: 1;
  }

  &__name {
    font-weight: 700;
    color: white;
    font-size: 21px;
  }

  &__cta {
    span {
      line-height: 1.2;
    }
  }

  &__price {
    color: var(--color-yellow);
    font-weight: 700;
    font-size: 23px;
  }

  &__info {
    ul {
      display: flex;
      gap: 14px;
      padding: 0;
      margin-bottom: 0;
      ng-icon {
        color: var(--color-yellow);
      }
      li {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
  }
}
