<section class="section-blogs section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center flex-column mb-30">
          <span class="subtitle mb-2 section-subtitle text-center"
            >Our Blog</span
          >
          <h3 class="section-heading text-center">
            Latest
            <span class="d-lg-inline-block">News</span>
          </h3>
        </div>
      </div>
      <div class="col-lg-12">
        <swiper-container init="false" #swiperEl>
          <swiper-slide *ngFor="let blog of blogs">
            <app-blog-card
              [title]="blog.title"
              [date]="blog.date"
              [category]="blog.category"
              [blogImage]="blog.blogImage"
            ></app-blog-card>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>
