<section class="section-blogs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center flex-column mb-30">
          <span class="subtitle mb-xl-3 mb-2 section-subtitle text-center"
            >Select your car</span
          >
          <h3 class="section-heading text-center">
            Luxury
            <span class="d-lg-inline-block">Car Fleet</span>
          </h3>
        </div>
      </div>
      <div class="col-12"></div>
    </div>
  </div>
</section>
