.card-cmp {
  position: relative;
  border-radius: 20px 20px 20px 0;
  overflow: hidden;
  margin-bottom: 15px;
  isolation: isolate;

  &.has-hover:hover {
    img {
      transform: scale(1.05);
    }

    .card-cmp__curv-button i {
      background-color: #f5b754;
      color: #000000;
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: transform 500ms ease;
  }

  &__curv-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 0 40px 0 0;

    i {
      transition: transform 500ms ease;
    }
  }

  a {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 100%;
    background: transparent;
    color: #fff;
    font-size: 18px;
    transition: all 0.5s ease;

    &:hover {
      background-color: var(--color-yellow);
    }
  }

  i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 21px;
    color: #fff;
    border: 1px solid #f5b754;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
    }
  }

  &__svg-bottom {
    position: absolute;
    position: absolute;
    top: -24px;
    left: -1px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    line-height: 1;
    svg {
      height: 24px;
      width: 24px;
    }
  }

  &__svg-top {
    position: absolute;
    bottom: -1px;
    right: -17px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    line-height: 1;
    svg {
      height: 24px;
      width: 24px;
    }
  }

  &__fade {
    width: 100%;
    top: 41%;
    height: 60%;
    float: left;
    position: absolute;
    background: linear-gradient(
      to top,
      #000000 0%,
      rgba(0, 0, 0, 0.738) 19%,
      rgba(0, 0, 0, 0.541) 34%,
      rgba(0, 0, 0, 0.382) 47%,
      rgba(0, 0, 0, 0.278) 56.5%,
      rgba(0, 0, 0, 0.194) 65%,
      rgba(0, 0, 0, 0.126) 73%,
      rgba(0, 0, 0, 0.075) 80.2%,
      rgba(0, 0, 0, 0.042) 86.1%,
      rgba(0, 0, 0, 0.021) 91%,
      rgba(0, 0, 0, 0.008) 95.2%,
      rgba(0, 0, 0, 0.002) 98.2%,
      transparent 100%
    );
  }

  &__title {
    position: absolute;
    bottom: 0px;
    padding: 30px 15px 30px 110px;
    width: 100%;
    /* text-align: right; */

    h4 {
      color: #fff;
      font-size: 21px;
      margin-bottom: 0;
      text-align: left;
      font-weight: 700;
      line-height: 1.5em;
    }
  }
}
