<div class="card-cmp" [ngClass]="{ 'has-hover': hoverEffect, steps: desc }">
  <img [src]="imageURL" alt="" *ngIf="imageURL" />
  <div class="card-cmp__fade" *ngIf="hasFade"></div>
  <div
    class="card-cmp__title"
    *ngIf="title"
    [ngClass]="{
      top: titlePosition === 'top',
      bottom: titlePosition === 'bottom'
    }"
  >
    <h4>
      {{ title }}
    </h4>
  </div>
  <div class="card-cmp__desc" *ngIf="desc">
    <p>
      {{ desc }}
    </p>
  </div>
  <div class="card-cmp__curv-button">
    <a href="">
      <i>
        <ng-icon [name]="iconName" *ngIf="iconName"></ng-icon>
        <span *ngIf="counter">{{ counter }}</span>
      </i>
    </a>
    <div class="card-cmp__svg-top">
      <svg
        viewBox="0 0 11 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-11 h-11"
      >
        <path
          d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
          fill="#1b1b1b"
        ></path>
      </svg>
    </div>
    <div class="card-cmp__svg-bottom">
      <svg
        viewBox="0 0 11 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-11 h-11"
      >
        <path
          d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
          fill="#1b1b1b"
        ></path>
      </svg>
    </div>
  </div>
</div>
