<section class="section-about-us section-padding">
  <div class="container">
    <div class="row col-lg-7">
      <div class="section-about-us__content">
        <span class="subtitle">* VIP</span>
        <h3 class="section-heading">
          We Are More Than <span class="d-lg-block">A Car Rental Company</span>
        </h3>
        <div>
          <p>
            Car repair quisque sodales dui ut varius vestibulum drana tortor
            turpis porttiton tellus eu euismod nisl massa nutodio in the miss
            volume place urna lacinia eros nunta urna mauris vehicula rutrum in
            the miss on volume interdum.
          </p>
          <ul>
            <li>
              <span>Sports and Luxury Cars</span>
            </li>
            <li>
              <span>Economy Cars</span>
            </li>
          </ul>
        </div>
        <app-primary-btn
          [buttonText]="'Read More'"
          [buttonLink]="'#'"
          [hasArrow]="true"
        ></app-primary-btn>
      </div>
    </div>
    <div class="col-lg-5">
      <div></div>
    </div>
  </div>
</section>
