<swiper-container init="false" #swiperEl>
  <swiper-slide>
    <div class="hero__slide">
      <img src="images/slider/1.webp" alt="" />
      <div class="hero__content">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 d-flex justify-content-center flex-column">
              <div class="d-flex flex-column">
                <span class="subtitle">* Economy</span>
                <h1 class="hero__heading">Rolls Royce Cullinan</h1>
              </div>
              <div class="hero__desc d-flex text-white justify-content-between">
                <span>Reserve now and get the best offer</span>
                <p class="hero__price">
                  <span>900$</span>
                  / day
                </p>
              </div>
              <div class="hero__button">
                <app-primary-btn
                  [buttonText]="'View Details'"
                  [buttonLink]="'#'"
                  [hasArrow]="true"
                ></app-primary-btn>
                <a href="" class="secondary-btn">Rent Now</a>
              </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
              <app-info-box
                [key]="'Doors'"
                value="'2'"
                class="d-flex justify-content-center"
              ></app-info-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="hero__slide">
      <img src="images/slider/2.webp" alt="" /></div
  ></swiper-slide>
  <swiper-slide>
    <div class="hero__slide">
      <img src="images/slider/3.webp" alt="" /></div
  ></swiper-slide>
</swiper-container>
