<footer>
  <div class="container">
    <div class="footer-contacts">
      <ul class="d-flex">
        <li>
          <div class="icon">
            <ng-icon name="bootstrapTelephoneOutbound"></ng-icon>
          </div>
          <div class="footer__contact">
            <span>Call Us</span>
            <span>+961 42-333-4444</span>
          </div>
        </li>
        <li>
          <div class="icon">
            <ng-icon name="bootstrapEnvelopeAt"></ng-icon>
          </div>
          <div class="footer__contact">
            <span>Write to us</span>
            <span>hosseinheydarpour1&#64;gmail.com</span>
          </div>
        </li>
        <li>
          <div class="icon">
            <ng-icon name="bootstrapMap"></ng-icon>
          </div>
          <div class="footer__contact">
            <span>Address</span>
            <span>Shiraz, Fars, Iran</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
