<footer class="footer">
  <div class="container">
    <div class="footer__contacts d-flex justify-content-center">
      <ul class="d-flex justify-content-between ps-0 w-100">
        <li>
          <div class="footer__contact--icon">
            <ng-icon name="bootstrapTelephoneOutbound"></ng-icon>
          </div>
          <div class="footer__contact">
            <span>Call Us</span>
            <span>+98 933-920-1684</span>
          </div>
        </li>
        <div class="footer__vertical-divider"></div>
        <li>
          <div class="footer__contact--icon">
            <ng-icon name="bootstrapEnvelopeAt"></ng-icon>
          </div>
          <div class="footer__contact">
            <span>Write to us</span>
            <span>hosseinheydarpour1&#64;gmail.com</span>
          </div>
        </li>
        <div class="footer__vertical-divider"></div>
        <li>
          <div class="footer__contact--icon">
            <ng-icon name="bootstrapMap"></ng-icon>
          </div>
          <div class="footer__contact">
            <span>Address</span>
            <span>Shiraz, Fars, Iran</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="footer__content">
      <div class="col-md-4">
        <div class="footer__logo">
          <img src="images/logo/logo-light.webp" alt="VIP car rental logo" />
        </div>
        <div class="footer__description">
          <p>
            Rent a car with confidence: explore premium vehicle options tailored
            to your travel needs.
          </p>
        </div>
        <ul class="footer__socials d-flex gap-2">
          <li>
            <a href="">
              <ng-icon name="bootstrapWhatsapp"></ng-icon>
            </a>
          </li>
          <li>
            <a href="">
              <ng-icon name="bootstrapYoutube"></ng-icon>
            </a>
          </li>
          <li>
            <a href="">
              <ng-icon name="bootstrapFacebook"></ng-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 offset-md-1"></div>
      <div class="col-md-4"></div>
    </div>
  </div>
</footer>
