<footer class="footer">
  <div class="container">
    <div class="footer__contacts d-flex justify-content-center">
      <ul class="d-flex justify-content-between ps-0 w-100">
        <li>
          <div class="footer__contact--icon">
            <ng-icon name="bootstrapTelephoneOutbound"></ng-icon>
          </div>
          <div class="footer__contact">
            <span>Call Us</span>
            <span>+98 933-920-1684</span>
          </div>
        </li>
        <div class="footer__vertical-divider"></div>
        <li>
          <div class="footer__contact--icon">
            <ng-icon name="bootstrapEnvelopeAt"></ng-icon>
          </div>
          <div class="footer__contact">
            <span>Write to us</span>
            <span>hosseinheydarpour1&#64;gmail.com</span>
          </div>
        </li>
        <div class="footer__vertical-divider"></div>
        <li>
          <div class="footer__contact--icon">
            <ng-icon name="bootstrapMap"></ng-icon>
          </div>
          <div class="footer__contact">
            <span>Address</span>
            <span>Shiraz, Fars, Iran</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
