<div class="info-box d-flex justify-content-center">
  <ul>
    <li>
      <div class="info-box__key gap-2">
        <div class="info-box__iconwrap d-inline-block">
          <ng-icon name="gameCarDoor"></ng-icon>
        </div>
        <span> Doors</span>
      </div>
      <div class="info-box__value">
        <span>2</span>
      </div>
    </li>
    <li>
      <div class="info-box__key gap-2">
        <div class="info-box__iconwrap d-inline-block">
          <ng-icon name="bootstrapPersonFill"></ng-icon>
        </div>
        <span>Passengers</span>
      </div>
      <div class="info-box__value">
        <span>2</span>
      </div>
    </li>
    <li>
      <div class="info-box__key gap-2">
        <div class="info-box__iconwrap d-inline-block">
          <ng-icon name="bootstrapCarFrontFill"></ng-icon>
        </div>
        <span>transmission</span>
      </div>
      <div class="info-box__value">
        <span>Auto</span>
      </div>
    </li>
    <li>
      <div class="info-box__key gap-2">
        <div class="info-box__iconwrap d-inline-block">
          <ng-icon name="bootstrapLuggageFill"></ng-icon>
        </div>
        <span>Luggage</span>
      </div>
      <div class="info-box__value">
        <span>2</span>
      </div>
    </li>
    <li>
      <div class="info-box__key gap-2">
        <div class="info-box__iconwrap d-inline-block">
          <ng-icon name="bootstrapPersonFill"></ng-icon>
        </div>
        <span>Age</span>
      </div>
      <div class="info-box__value">
        <span>24</span>
      </div>
    </li>
  </ul>
</div>
