/* You can add global styles to this file, and also import other style files */
// font

// Variables
:root {
  --text-color: #999;
  --bg-color: #1b1b1b;
  --color-yellow: #f5b754;

  --bg-color-tint1: #222;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden !important;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.95em;
  color: var(--text-color);
  overflow-x: hidden !important;
  background: var(--bg-color);
  position: relative;
}

a,
a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
}

// container reset
@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

.subtitle {
  font-size: 12px;
  color: var(--color-yellow);
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.9;

  &.section-subtitle {
    font-size: 10px;
  }
}

.section-heading {
  font-size: 35px;
  font-family: "Outfit", sans-serif;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  line-height: 1.25em;
  font-weight: 700;
}

.section-caption {
  font-size: 13px;
  color: white;
  font-weight: 300;
}

.section-heading span {
  color: #f5b754;
}

.section-padding {
  padding: 120px 0;
}

// Utils
.mb-30 {
  margin-bottom: 30px;
}
