/* You can add global styles to this file, and also import other style files */
// font

@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

// Variables
:root {
  --text-color: #999;
  --bg-color: #1b1b1b;
  --color-yellow: #f5b754;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.95em;
  color: var(--text-color);
  overflow-x: hidden !important;
  background: var(--bg-color);
  position: relative;
}

a,
a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
}

// container reset
@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

// .owl-theme .owl-nav.disabled + .owl-dots {
//   margin-top: 10px;
//   line-height: 0.7;
//   display: block;
// }
