<section class="section-padding cta" [ngClass]="bgType">
  <div class="cta__overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cta__heading text-center">
          <span class="subtitle text-center">Rent Your Car</span>
          <h3 class="section-heading text-center">Interested in Renting?</h3>
          <p class="section-caption text-center position-relative">
            Don't hesitate and send us a message.
          </p>
        </div>
        <div class="col-lg-12">
          <div class="d-flex justify-content-center align-items-center gap-2">
            <app-primary-btn
              [buttonText]="'Whatsapp'"
              [buttonLink]="'#'"
              [ctaSocialIcon]="'bootstrapWhatsapp'"
            ></app-primary-btn>
            <app-secondary-btn
              [buttonText]="'Rent Now'"
              [buttonLink]="'#'"
              [hasArrow]="true"
            ></app-secondary-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
