<section class="section-padding section-categories">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center flex-column">
          <span class="subtitle mb-xl-3 mb-2 section-subtitle text-center"
            >Categories</span
          >
          <h3 class="section-heading text-center">
            Rental
            <span class="d-lg-inline-block">Car Types</span>
          </h3>
        </div>
      </div>
      <div class="col-lg-12">
        <swiper-container init="false" #swiperEl>
          <swiper-slide>
            <app-card
              [imageURL]="'images/categories/01.webp'"
              [iconName]="'bootstrapArrowUpRight'"
              [hoverEffect]="true"
              [title]="'Convertible'"
              [titlePosition]="'top'"
            ></app-card>
          </swiper-slide>
          <swiper-slide>
            <app-card
              [imageURL]="'images/categories/02.webp'"
              [iconName]="'bootstrapArrowUpRight'"
              [hoverEffect]="true"
              [titlePosition]="'top'"
              [title]="'SUV'"
            ></app-card>
          </swiper-slide>
          <swiper-slide>
            <app-card
              [imageURL]="'images/categories/03.webp'"
              [iconName]="'bootstrapArrowUpRight'"
              [hoverEffect]="true"
              [titlePosition]="'top'"
              [title]="'Luxury Cars'"
            ></app-card>
          </swiper-slide>
          <swiper-slide>
            <app-card
              [imageURL]="'images/categories/04.webp'"
              [iconName]="'bootstrapArrowUpRight'"
              [hoverEffect]="true"
              [title]="'Sport Cars'"
              [titlePosition]="'top'"
            ></app-card>
          </swiper-slide>
          <swiper-slide>
            <app-card
              [imageURL]="'images/categories/05.webp'"
              [iconName]="'bootstrapArrowUpRight'"
              [hoverEffect]="true"
              [title]="'Sedan'"
              [titlePosition]="'top'"
            ></app-card>
          </swiper-slide>
          <swiper-slide>
            <app-card
              [imageURL]="'images/categories/06.webp'"
              [iconName]="'bootstrapArrowUpRight'"
              [hoverEffect]="true"
              [title]="'Small Cars'"
              [titlePosition]="'top'"
            ></app-card>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>
